doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Right Tenders
		link(rel="icon", href="img/icon.ico", type="image/x-icon")
		link(rel="stylesheet", href="css/bootstrap.min.css")
		link(rel="stylesheet", href="css/font-awesome.min.css")
		link(rel="stylesheet", href="owl-carousel/assets/owl.carousel.min.css")
		link(rel="stylesheet", href="owl-carousel/assets/owl.theme.default.min.css")
		link(rel="stylesheet", href="css/animate.css")
	body
		section.top
			section.menu
				div.menu__top-border
				nav.col-xl-11.col-lg-12.mt-0.pt-0.ml-auto.mr-auto.navbar.navbar-expand-lg.navbar-light
					a.navbar-brand(href="#")
						img.img-fluid(src="img/logo.png", alt="")
					button.navbar-toggler(type="button",data-toggle="collapse",data-target="#navbarMain", aria-controls="navbarMain", aria-expanded="false", aria-label="Toggle navigation")
						span.navbar-toggler-icon
					div.collapse.navbar-collapse#navbarMain
						ul.navbar-nav.mr-auto.mb-lg-auto.mb-5.text-lg-auto.text-center
							li.nav-item.active
								a.nav-link(href="#") Главная
							li.nav-item
								a.nav-link(href="#", data-target="#info", data-link) О проекте
							li.nav-item
								a.nav-link(href="#", data-target="#advantages", data-link) Преимущества
							li.nav-item
								a.nav-link(href="#", data-target="#payment-plans", data-link) Тарифы
					span.navbar-text.d-flex.justify-content-lg-end.justify-content-center.align-items-center.col-lg-auto.col-md-12
						div.mr-4
							a(href="#") Войти
						div.menu__navbar-btn
							button.btn.btn-secondary(data-toggle="modal", data-target="#applicationModal") Оставить Заявку
			section.header.d-flex.flex-column.justify-content-center
				div.header__image.d-none.d-lg-block
					img(src="img/woman.png", alt="")
				//- div.header__text-wrap.d-flex.justify-conent-center.align-items-center
				div.header__text.col-xl-5.offset-xl-2.col-lg-7.offset-lg-0.d-flex.flex-column.justify-content-center.align-items-lg-end.align-items-center
						div.header__text-title.text-lg-right.text-center.mb-4
							h1 Поможем Вам <span>минимизировать</span> риски с Гос заказчиками
						div.header__text-btn
							a(href="#", data-target="#info", data-link).btn.btn-secondary
								div.d-flex.justify-content-between.align-items-center
									div Подробнее
									div.btn-arrow_dark
		section.subheader.d-flex.justify-content-center.align-items-center
			div.subheader__text.text-center.col-xl-8.col-lg-8.d-flex
				h3 Большинство предпринимателей опасаются учавствовать в них, я расскажу Вам как минимизировать риски с Гос заказчиками.
		section.info(id="info")
			div.container
				div.info__block.d-flex
					div.col-lg-6
						div.info__block-title.mb-4.text-md-left.text-center
							h2 Я столкнулась с множеством проблем от невозможности выполнить проект, до затягивания сроков самим заказчиком.
						div.info__block-text.mb-5.text-md-left.text-center
							p Этот опыт будет полезен предпринимателям которые ищут новый канал продаж в сфере тендеров !⁣⁣ Я готова помочь с каждым этапом работ. ⁣⁣⁣
						div.info__block-percent.d-flex.flex-md-row.flex-column.align-items-md-end.align-items-center
							div.info__block-percent-count
								span 52%
							div.info__block-percent-text
								p Больше прибыли
		section.partners
			div.container
				div.d-flex.flex-md-row.flex-column.justify-content-between.align-items-center
					div.mb-md-auto.mb-3
						img.img-fluid(src="img/partner-1.png", alt="")
					div.mb-md-auto.mb-3
						img.img-fluid(src="img/partner-2.png", alt="")
					div.mb-md-auto.mb-3
						img.img-fluid(src="img/partner-3.png", alt="")
					div.mb-md-auto.mb-3
						img.img-fluid(src="img/partner-4.png", alt="")
					div.mb-md-auto.mb-3
						img.img-fluid(src="img/partner-5.png", alt="")
		section.intro-design
			div.container
				div.row.d-flex.align-items-center
					div.col-xl-5.col-lg-6
						div.intro-design__info-block.d-flex.flex-column.justify-content-center
							div.col-8.offset-3.intro-design__info-block-text
								div
									p «Правильные тендеры» это проект, где я учу предпринимателей новому каналу получения прибыли, через госзаказ.
								div
									span - Валерия Мигаловская
					div.col-xl-7.col-lg-6
						div.intro-design__text-block.d-lg-block.d-flex.flex-column.align-items-center
							div.intro-design__text-block-title.mb-4.text-lg-left.text-center
								h2 Тендеры могут стать для Вас новой точкой роста.
							div.intro-design__text-block-btn
								a(href="#").btn.btn-secondary
									div.d-flex.justify-content-between.align-items-center
										div Подробнее
										div.btn-arrow_dark

		section.create-campaign(id="advantages")
			div.container
				div.row
					div.col-lg-6
						div.create-campaign__block-title.mb-4.text-md-left.text-center
							h2 Преимущества заработка на тендерах
						div.create-campaign__block-text.mb-5.text-md-left.text-center
							p За эти года, я столкнулась с множеством проблем от невозможности выполнить проект, до затягивания сроков самим заказчиком.
						div.create-campaign__block-icon.d-flex.align-items-center.mb-3
							div
								img.img-fluid(src="img/rating-icon.png", alt="")
							div.ml-4
								p Преимущество 1
						div.create-campaign__block-icon.d-flex.align-items-center.mb-3
							div
								img.img-fluid(src="img/cloud-icon.png", alt="")
							div.ml-4
								p Преимущество 2
						div.create-campaign__block-btn.d-flex.flex-md-row.flex-column.align-items-md-end.align-items-center.mt-5.mb-md-auto.mb-5
							a.btn.btn-secondary(href="#")
								div.d-flex.justify-content-between.align-items-center
									div Подробнее
									div.btn-arrow_dark
					div.col-lg-6.d-flex.align-items-start
						div.create-campaign__image
							img.img-fluid(src="img/create-company-img.jpg", alt="")
		section.design-feedback
			div.container
				div.row
					div.col.text-center.mb-5.col-lg-8.mr-auto.ml-auto
						div.design-feedback__title
							h2  Как начать зарабатывать на тендерах?
							p Для роста бизнеса всегда необходимы новые каналы продаж. Тендеры могут стать для Вас новой точкой роста.⁣
				div.row
					div.col-lg-4
						div.card
							div.text-center
								img.img-fluid(src="img/df-img-1.png", alt="")
							div.card-body.text-center
								h5.card-title Шаг 1
								p.card-text Вы регистрируетесь, оставляя заявку на сайте, заполняете все личные данные и выбираете тариф.
					div.col-lg-4
						div.card
							div.text-center
								img.img-fluid(src="img/df-img-2.png", alt="")
							div.card-body.text-center
								h5.card-title Шаг 2
								p.card-text После Вы проходите обучение посредством онлайн-конференции
					div.col-lg-4
						div.card
							div.text-center
								img.img-fluid(src="img/df-img-3.png", alt="")
							div.card-body.text-center
								h5.card-title Шаг 3
								p.card-text Начинаете зарабатывать на государственных заказах. 
		section.quotes 
			div.container
				div.row
					div.col.quotes__title.text-center.mb-3
						h2 Отзывы предпринимателей
				div.row.quotes__block
					div.col-12
						div.owl-carousel.quotes__carousel
							div
								div.card.d-flex.flex-column.justify-content-between
									div
										div.card-body.quotes__card-text.text-center
											p По своей сути рыбатекст является альтернативой традиционному lorem ipsum По своей сути рыбатекст является альтернативой традиционному lorem ipsum 
									div
										div.ml-1.mr-1
											hr
										div.card-body.quotes__card-icon.d-flex.flex-column.align-items-center
											div.mb-3
												img.img-fluid(src="img/quotes-icon.png", alt="")
											div.text-center
												h5.card-title Андрей Андреев
												p.card-subtitle Компания
							div
								div.card.d-flex.flex-column.justify-content-between
									div
										div.card-body.quotes__card-text.text-center
											p По своей сути рыбатекст является альтернативой традиционному lorem ipsum
									div
										div.ml-1.mr-1
											hr
										div.card-body.quotes__card-icon.d-flex.flex-column.align-items-center
											div.mb-3
												img.img-fluid(src="img/quotes-icon.png", alt="")
											div.text-center
												h5.card-title Андрей Андреев
												p.card-subtitle Компания
							div
								div.card.d-flex.flex-column.justify-content-between
									div
										div.card-body.quotes__card-text.text-center
											p По своей сути рыбатекст является альтернативой традиционному lorem ipsum
									div
										div.ml-1.mr-1
											hr
										div.card-body.quotes__card-icon.d-flex.flex-column.align-items-center
											div.mb-3
												img.img-fluid(src="img/quotes-icon.png", alt="")
											div.text-center
												h5.card-title Андрей Андреев
												p.card-subtitle Компания
							div
								div.card.d-flex.flex-column.justify-content-between
									div
										div.card-body.quotes__card-text.text-center
											p По своей сути рыбатекст является альтернативой традиционному lorem ipsum
									div
										div.ml-1.mr-1
											hr
										div.card-body.quotes__card-icon.d-flex.flex-column.align-items-center
											div.mb-3
												img.img-fluid(src="img/quotes-icon.png", alt="")
											div.text-center
												h5.card-title Андрей Андреев
												p.card-subtitle Компания
		section.payment-plans(id="payment-plans")
			div.container
				div.row
					div.col.payment-plans__title.text-center.mb-3
						h2 Тарифы
				div.row.payment-plans__blocks
					div.col-lg-4.col-md-6.mb-4
						div.card.d-flex.flex-column
							div.card-header
								h3 Эконом
							div.card-description.col
								h5 Без вебинаров. Также закрытая группа, но онлайн встреч нет и нет возможности с наставником поработать.
							div.col
								div.card-price 5 000 &#8381;
								div.card-btn.text-center
									button.btn.btn-secondary
										div.d-flex.justify-content-between.align-items-center
											div Купить
											div.btn-arrow_dark
					div.col-lg-4.col-md-6.mb-4
						div.card.d-flex.flex-column.active
							div.card-header
								h3 Бизнес
							div.card-description.col
								h5 С вебинарами + наставник
							div.col
								div.card-price 15 000 &#8381;
								div.card-btn.text-center
									button.btn.btn-secondary
										div.d-flex.justify-content-between.align-items-center
											div Купить
											div.btn-arrow_dark
					div.col-lg-4.col-md-6.mb-4
						div.card.d-flex.flex-column
							div.card-header
								h3 Премиум
							div.card-description.col
								h5 Все + наставник создатель
							div.col
								div.card-price 25 000 &#8381;
								div.card-btn.text-center
									button.btn.btn-secondary
										div.d-flex.justify-content-between.align-items-center
											div Купить
											div.btn-arrow_dark
		section.footer
			div.container
				div.container
					div.questions__block.row
						div.col-lg-12
							div.questions__block-title
								h2 Часто задаваемые вопросы
							div.questions__block-text.mb-5
								div.mb-3 
									strong Смысл сайта?
								p По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.
							div.questions__block-accordion
								div.accordion#questionsAccordion
									div.card
										div.card-header.pb-3(id="header-1")
											h2
												button.btn.btn-link.collapsed(data-toggle="collapse", data-target="#collapse-1", aria-expanded="false",aria-controls="collapse-1") Вопрос 1
										div.collapse(id="collapse-1", aria-labelledby="heading-1", data-parent="#questionsAccordion")
											div.card-body
												p Ответ 1
									div.card
										div.card-header.pb-3(id="heading-2")
											h2
												button.btn.btn-link.collapsed(data-toggle="collapse", data-target="#collapse-2", aria-expanded="false",aria-controls="collapse-2") Вопрос 2
										div.collapse(id="collapse-2",aria-labelledby="heading-2", data-parent="#questionsAccordion")
											div.card-body
												p Ответ 2
									div.card
										div.card-header.pb-3(id="heading-3")
											h2
												button.btn.btn-link.collapsed(data-toggle="collapse", data-target="#collapse-3", aria-expanded="false",aria-controls="collapse-3")  Вопрос 3
										div.collapse(id="collapse-3",aria-labelledby="heading-3", data-parent="#questionsAccordion")
											div.card-body
												p  Ответ 3
									div.card
										div.card-header.pb-3(id="heading-4")
											h2
												button.btn.btn-link.collapsed(data-toggle="collapse", data-target="#collapse-4", aria-expanded="false",aria-controls="collapse-4")  Вопрос 4
										div.collapse(id="collapse-4",aria-labelledby="heading-4", data-parent="#questionsAccordion")
											div.card-body
												p  Ответ 4
					div.row.footer__inner
						div.col-lg-7.d-flex.flex-sm-row.flex-column.justify-content-lg-start.justify-content-center.align-items-sm-start.align-items-center.footer__block.text-sm-left.text-center
							div.mr-3.mb-sm-auto.mb-2
								a(href="#") Политика конфиденциальности
							div.mr-3.mb-sm-auto.mb-2
								a(href="#") Блог
							div.mr-3.mb-sm-auto.mb-2
								a(href="#") Контакты
						div.col-lg-5.d-flex.justify-content-lg-end.justify-content-center.footer__block.text-lg-right.text-center
							div
								p &copy; 2019
		div.modal.application-modal(id="applicationModal", tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
			div.modal-dialog(role="document")
				div.modal-content.animated.slideInDown.fast
					div.modal-header
						h5.modal-title(id="applicationModalLabel") Оставить заявку
						a.close(href="#",data-dismiss="modal", aria-label="Close")
							span(aria-hidden="true") &times;
					div.modal-body
						form
							div.form-group
								input.form-control(type="text", placeholder="Имя", required)
							div.form-group
								input.form-control(type="email", placeholder="Email", required)
							div.form-group
								input.form-control(type="tel", placeholder="Телефон", required)
							div.form-group
								textarea.form-control(name="", cols="30", rows="10", placeholder="Сообщение", required)
							div.form-group
								button.btn.btn-secondary(type="submit") Отправить

			

		script(src="js/jquery.min.js")
		script(src="js/bootstrap.min.js")
		script(src="owl-carousel/owl.carousel.min.js")
		script(src="js/jquery.scrollTo.min.js")
	